*{
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    border: 3px solid blue;
    background-image: url(https://images.pexels.com/photos/9882299/pexels-photo-9882299.jpeg?auto=compress&cs=tinysrgb&w=300&h=300&dpr=1);

    
}
li{
    list-style: none;
    cursor: pointer;
}
.heading-side{
    color: yellow;
    display: flex;
    /* border: 1px solid black; */
    flex-wrap: nowrap;
    justify-content: center;
    justify-content: space-between;
    margin-top: 20px;
}
.headline{
    color: aqua;
    justify-content: center;
    margin-top: 100px;
}
.clock{
    /* align-items: flex-end; */
}
button{
    background-color: gray;
    border: 1px solid black;
    color: blue;
    margin-top: 200px;
    height: 30px;
    width: 120px;
}
.Orser{
    margin-left: 500px;
    justify-content: end;
    margin-top: 20px;
    height: 30px;
    width: 100px;
}
.clock{
    margin-top: 500px;
}
.img-1{
    margin-left: 70px;
    margin-top: 20px;
}
h1{
    font-size: xx-large;
}